*{
    margin:0;
    padding:0;
    font-size: 100%;
    font-family: "Microsoft Yahei", "宋体", Arial, Verdana;
}
body{
    background:#fff;
    width:100%;
    color:#7c7c7c;
}
a{
    text-decoration: none;
    color:#fff;
}
ul,ul li{
    list-style-type: none;
    padding:0;
}
h1,h2,h3,h4{
    font-weight: 400;
}
h1{
    width: 100%;
    height: 0;
    overflow: hidden;
    text-indent: -9999em;
}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}
.clear{
    clear: both;
}
.clear:after{
    display: block;
    content: '';
    width:100%;
    clear:both;
    overflow:hidden;
}



.head{
    background: #000;
    width:100%;
    height:65px;
    border:1px solid #4c5254;
    font-size:16px;
}
.container{
    width:1200px;
    margin:0 auto;
}
.logo{
    width:232px;
    margin-top:12px;
    margin-right: 65px;
    background:url("../images/icon.png") no-repeat 0 -620px;
}
.logo a{
    display:block;
    overflow:hidden;
    text-indent: -9999em;
    width:232px;
    height:41px;
}
.nav{
    line-height: 62px;
    display: block;
    width:565px;
}
#navBar li{
    float:left;
    position: relative;
}
#navBar li.cur{
    display: block;
    line-height:62px;
    border-bottom:3px solid #3d97ec;
}
#navBar li a{
    padding:0 15px;
}
#navBar li .navBar_second{
    display: none;
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 66px;
    left:0;
    padding:15px 0 15px 25px;
    z-index: 2;
}
#navBar li:hover{
    line-height:62px;
    border-bottom:3px solid #3d97ec;
}
#navBar li:hover .navBar_second{
    display: block;
}
#navBar li .navBar_Group{
    padding-right: 25px;
    font-size:14px;
    display: table-cell;
}
#navBar li .navBar_Group p{
    line-height: 25px;
}
#navBar li .navBar_Group ul{
    display: block;
}
#navBar li .navBar_Group ul li{
    float: none;
    word-break: keep-all;
    line-height: 42px;
}
#navBar li .navBar_Group ul li:hover{
    border:0;
}
#navBar li .navBar_Group ul li a{
    padding:0;
}
#navBar li .navBar_Group.bor{
    padding-left:25px;
    border-left:1px solid #2e3032;
}
#navBar li:hover .navBar_Group p{
    color:#888;
    font-size: 12px;
}
.user{
    font-size: 14px;
    color:#fff;
}
.user .manager i,.user .manager span{
    display: table-cell;
    line-height: 65px;
}
.user .manager i{
    padding-right: 6px;
    width:20px;
    height:16px;
    background: url("../images/icon.png") no-repeat -189px 25px;
}
.user .userLogin{
    line-height:65px;
    margin-right:35px;
}
.user .userLogin i{
    padding:0 9px;
    font-style: normal;
    font-size: 16px;
}
.user .userName{
    margin-right: 5px;
    line-height: 65px;
    position: relative;
    width: 90px;
    text-align: center;
}
.user .userName:hover{
    background: #3d97ec;
}
.user .userName:hover .userDetail{
    display: block;

}
.user .userName .userDetail{
    position: absolute;
    right:-15px;
    z-index: 3;
    top:66px;
    display: none;
}
.user .userDetail li.userAccount{
    background: rgba(0,0,0,0.85);
    font-size: 12px;
    word-break: keep-all;
    width:170px;
    border:0;
    padding-top:15px;
    padding-bottom: 15px;
}
.user .userAccount p{
    line-height: 20px;
}
.user .userAccount .userIcon{
    background: url("../images/icon.png") no-repeat 0 -245px;
    display:table-cell;
    width:52px;
    height:56px;
}
.user .userAccount  .userMsg{
    display: table-cell;
    text-align: left;
    padding-left:15px;
}
.user .userDetail li{
    background: #000;
    border-top:1px solid #4a4f52;
    line-height: 28px;
    padding: 0 15px;
}
.user .userDetail li:hover{
    background: #3d97ec;
}
.user .userDetail .unread{
    font-size: 14px;
    display: block;
    padding:15px 20px;
    position: relative;
}
.user .unread a,.user .unread i{
    display: table-cell;
}
.user .unread i{
    background:url("../images/icon.png") no-repeat -189px -114px;
    width:33px;
    height: 27px;
    padding-right: 20px;
}
.user .unread em{
    background:url("../images/icon.png") no-repeat -327px -116px;
    width:12px;
    height:12px;
    position: absolute;
    right: 55px;
    top: 15px;
}
.user .userDetail .logout{
    padding-top:15px;
    padding-bottom: 15px;

}
.user .logout i{
    display: table-cell;
    width:30px;
    height:31px;
    background: url("../images/icon.png") no-repeat -318px 0;
    padding-right: 29px;
}
.user .logout a{
    display: table-cell;
    line-height: 31px;
}
/*banner*/
.btn1{
    background: #03c6fe;
    font-size: 24px;
    border-radius: 10px;
}
.btn2{
    border:3px solid #fff;
    border-radius: 10px;
    padding:15px 20px;
}
#banner{
    display: block;
    width: 100%;
    height:690px;
}
#banner .bannerChange{
    overflow: hidden;
    display: block;
    clear: both;
    width:100%;
    height: 100%;
    position: relative;
    background:#f4f4f4;
}
#banner .bannerGroup{
    clear: both;
    height: 100%;
}
#banner .bannerGroup li{
    float: left;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#banner .bannerGroup .container{
    position: relative;
}
#banner .bannerGroup li.banner1{
    background: url("../images/banner01.jpg") no-repeat;
}
#banner .banner1 .container{
width:100%;
}
#banner .banner1 .snowAnimate{
    position: relative;
    display: block;
    width:100%;
    height:100%;
}
#banner .banner1 .snowAnimate span{
    position: absolute;
    top:-50px;
    display: block;
    background-repeat: no-repeat;
}
#banner .snowAnimate .snowItem1{
    width:45px;
    height:45px;
    background: url("../images/snow.png") 0 0;
    animation:snow 5s infinite ease-in;
    -webkit-animation:snow 5s infinite ease-in;
    -moz-animation:snow 5s infinite ease-in;
    -o-animation:snow 5s infinite ease-in;
}
#banner .snowAnimate .snowItem2{
    width:30px;
    height:30px;
    background: url("../images/snow.png") -101px 0;
    animation:snow 8s infinite ease;
    -webkit-animation:snow 8s infinite ease;
    -moz-animation:snow 8s infinite ease;
    -o-animation:snow 8s infinite ease;
}
#banner .snowAnimate .snowItem3{
    width:21px;
    height:21px;
    background: url("../images/snow.png") -199px 0;
     animation:snow 10s infinite ease-out;
     -webkit-animation:snow 10s infinite ease-out;
     -moz-animation:snow 10s infinite ease-out;
     -o-animation:snow 10s infinite ease-out;
}
#banner .snowAnimate .snowItem4{
    width:20px;
    height:20px;
    background: url("../images/snow.png") -276px 0;
    animation:snow 15s infinite;
    -webkit-animation:snow 15s infinite ease;
    -moz-animation:snow 15s infinite ease;
    -o-animation:snow 15s infinite ease;
}
#banner .snowAnimate .snowItem5{
    width:18px;
    height:18px;
    background: url("../images/snow.png") -344px 0;
    animation:snow 9s infinite;
    -webkit-animation:snow 12s infinite;
    -moz-animation:snow 12s infinite;
    -o-animation:snow 12s infinite;
}
#banner .snowAnimate .snowItem6{
    width:45px;
    height:45px;
    background: url("../images/snow.png") 0 0;
    animation:snow 6s infinite ease-in;
    -webkit-animation:snow 6s infinite ease-in;
    -moz-animation:snow 6s infinite ease-in;
    -o-animation:snow 6s infinite ease-in;
}
#banner .snowAnimate .snowItem7{
    width:30px;
    height:30px;
    background: url("../images/snow.png") -101px 0;
    animation:snow 7s infinite ease;
    -webkit-animation:snow 7s infinite ease;
    -moz-animation:snow 7s infinite ease;
    -o-animation:snow 7s infinite ease;
}
#banner .snowAnimate .snowItem8{
    width:21px;
    height:21px;
    background: url("../images/snow.png") -199px 0;
    animation:snow 9s infinite ease-out;
    -webkit-animation:snow 9s infinite ease-out;
    -moz-animation:snow 9s infinite ease-out;
    -o-animation:snow 9s infinite ease-out;
}
#banner .snowAnimate .snowItem9{
    width:20px;
    height:20px;
    background: url("../images/snow.png") -276px 0;
    animation:snow 11s infinite;
    -webkit-animation:snow 11s infinite ease;
    -moz-animation:snow 11s infinite ease;
    -o-animation:snow 11s infinite ease;
}
#banner .snowAnimate .snowItem10{
    width:18px;
    height:18px;
    background: url("../images/snow.png") -344px 0;
    animation:snow 13s infinite;
    -webkit-animation:snow 13s infinite;
    -moz-animation:snow 13s infinite;
    -o-animation:snow 13s infinite;
}
#banner .snowAnimate .snowItem11{
    width:18px;
    height:18px;
    background: url("../images/snow.png") -344px 0;
    animation:snow 14s infinite;
    -webkit-animation:snow 14s infinite;
    -moz-animation:snow 14s infinite;
    -o-animation:snow 14s infinite;
}
#banner .snowAnimate .snowItem12{
    width:45px;
    height:45px;
    background: url("../images/snow.png") 0 0;
    animation:snow 10s infinite ease-in;
    -webkit-animation:snow 10s infinite ease-in;
    -moz-animation:snow 10s infinite ease-in;
    -o-animation:snow 10s infinite ease-in;
}
#banner .snowAnimate .snowItem13{
    width:30px;
    height:30px;
    background: url("../images/snow.png") -101px 0;
    animation:snow 17s infinite ease;
    -webkit-animation:snow 17s infinite ease;
    -moz-animation:snow 17s infinite ease;
    -o-animation:snow 17s infinite ease;
}
#banner .snowAnimate .snowItem14{
    width:21px;
    height:21px;
    background: url("../images/snow.png") -199px 0;
    animation:snow 19s infinite ease-out;
    -webkit-animation:snow 19s infinite ease-out;
    -moz-animation:snow 19s infinite ease-out;
    -o-animation:snow 19s infinite ease-out;
}
#banner .snowAnimate .snowItem15{
    width:20px;
    height:20px;
    background: url("../images/snow.png") -276px 0;
    animation:snow 20s infinite;
    -webkit-animation:snow 20s infinite ease;
    -moz-animation:snow 20s infinite ease;
    -o-animation:snow 20s infinite ease;
}
#banner .bannerGroup li.banner2{
    background: url("../images/banner02.jpg");
}
#banner .bannerGroup h2,#banner .bannerGroup .describe{
    text-indent: -999em;
    width:0;
    height: 0;
    overflow: hidden;
}
#banner .bannerGroup .btn1{
    position: absolute;
    top:500px;
    left:55px;
    padding:15px 20px;
}
#banner .bannerGroup .btn1 a{
    font-size: 24px;
    position: relative;
}
#banner .bannerGroup .btn1 i{
    display: inline-block;
    background: url("../images/icon.png") no-repeat 0 -115px;
    width:30px;
    height:30px;
    margin-bottom: -6px;
    margin-left:10px;
}
#banner .bannerGroup .btn2{
    position: absolute;
    bottom:150px;
    left:50%;
    margin-left:-83px;
}
#banner .bannerGroup .btn2 a{
    font-size: 30px;
}
#banner .pointGroup{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    z-index:3;
}
#banner .pointGroup li{
    background: url("../images/icon.png") no-repeat 0 0;
    width:15px;
    height: 15px;
    display: inline-block;
    margin-right: 30px;
}
#banner .pointGroup li.mrg0{
    margin:0;
}
#banner .pointGroup li.cur{
    width:29px;
    background: url("../images/icon.png") no-repeat -80px 0;
}
#detailList{
    font-size: 14px;
    color:#5b5b5b;
    line-height: 30px;
    background: #fff;
    padding:60px 0;
}
#detailList .detailList_intro li{
    border:2px solid #d7d8d9;
    border-radius: 10px;
    margin-right: 24px;
    overflow: hidden;
    float: left;
    width:278px;
    cursor: pointer;
}
#detailList .detailList_intro li.noBor{
    margin:0;
}
#detailList li .detailList_top{
    position: relative;
    display: block;
    color:#fff;
    font-size: 24px;
    height:250px;
    overflow: hidden;
}
#detailList li .detailList_top .covPic{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index: 0;
}
#detailList li .detailList_top:hover .covPic{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    animation:backAnimate 1s ease;
    -webkit-animation:backAnimate 1s ease;
    -moz-animation:backAnimate 1s ease;
    -o-animation:backAnimate 1s ease;

}
#detailList li .covBac1{
    background:url("../images/vod_bac.png") no-repeat -10px -10px;
}
#detailList li .covBac2{
    background:url("../images/live_bac.png") no-repeat -10px -10px;
}
#detailList li .covBac3{
    background:url("../images/cloud_bac.png") no-repeat -10px -10px;
}
#detailList li .covBac4{
    background:url("../images/activeLive_bac.png") no-repeat -10px -10px;
}

#detailList .detailList_top .cover{
    background: rgba(93,152,255,0.4);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
}
#detailList .detailList_top .detailList_icon{
    width:180px;
    height:180px;
    position: absolute;
    top:20px;
    left:50%;
    margin-left:-90px;
    z-index: 2;
}
#detailList .detailList_top .bac1{
    background: url("../images/active.png") no-repeat 0 -720px;
}
#detailList .detailList_top .bac2{
    background: url("../images/active.png") no-repeat 0 -480px;
}
#detailList .detailList_top .bac3{
    background: url("../images/active.png") no-repeat 0 -240px;
}
#detailList .detailList_top .bac4{
    background: url("../images/active.png") no-repeat 0 0;
}
#detailList .detailList_top h3{
    text-align: center;
    z-index: 3;
    line-height: 50px;
    position: relative;
    margin-top:200px;
}
#detailList .detailList_bottom{
    line-height:25px;
    padding: 10px;
}
#detailList li .clear{
    text-align:right;
    padding-right: 10px;
}
#detailList li .btn1{
    font-size: 12px;
    padding:4px 6px;
    display: inline-block;
    line-height: 12px;
    border-radius: 5px;
    background: #508aee;
}
/*mainList*/
#mainIntro .mainIntro_list .container{
    position: relative;
    height: 100%;
}
#mainIntro  .mainIntro_list .arrow{
    position: absolute;
    width:99px;
    height:114px;
    background: url("../images/icon.png") no-repeat;
}
#mainIntro .mainIntro_list li{
    height:508px;
}
#mainIntro .mainIntro_p2p{
    background: #f4f4f4;
}
#mainIntro .mainIntro_p2p .imgBac{
    position: absolute;
    left:-15px;
    bottom:0;
    background: url("../images/p2p.png") no-repeat 0 0;
    width:407px;
    height:446px;
    opacity:1;

}
#mainIntro .mainIntro_p2p .imgBac.anim{
    animation:p2pImg 1s ease;
    -webkit-animation:p2pImg 1s ease;
    -moz-animation:p2pImg 1s ease;
    -o-animation:p2pImg 1s ease;
}
#mainIntro .mainIntro_p2p h3{
    font-size:35px;
    color:#303030;
    margin-bottom:45px;
}
#mainIntro .mainIntro_p2p .writeFont{
    font-size:24px;
    line-height: 35px;
    color:#7c7c7c;
    margin-top:85px;
}
#mainIntro .mainIntro_p2p .writeFont.anim{
    animation:p2pFont 2s ease;
    -webkit-animation:p2pFont 2s ease;
    -moz-animation:p2pFont 2s ease;
    -o-animation:p2pFont 2s ease;
}
#mainIntro .mainIntro_p2p .arrow{
    background-position:0 -787px;
    bottom:-52px;
    right: 255px;
}

#mainIntro .mainIntro_cross{
    background: #fff;
}
#mainIntro .mainIntro_cross .imgBac{
    position: absolute;
    right:90px;
    bottom:53px;
    background: url("../images/cloud_back.png") no-repeat 0 0;
    width:374px;
    height:411px;
    opacity:1;
}
#mainIntro .mainIntro_cross .imgBac.anim{
    animation:crossImg 1s ease;
    -webkit-animation:crossImg 1s ease;
    -moz-animation:crossImg 1s ease;
    -o-animation:crossImg 1s ease;
}
#mainIntro .mainIntro_cross .writeFont{
    margin-top:90px;
    margin-left:57px;
    font-size:24px;
    color:#7c7c7c;
}
#mainIntro .mainIntro_cross h3{
    font-size:35px;
    color:#303030;
    margin-bottom:36px;
}

#mainIntro  .mainIntro_cross .arrow{
    background-position:-326px -786px;
    left:25px;
    bottom:-70px;
}

#mainIntro .mainIntro_solution{
    background: #f4f4f4;
}
#mainIntro .mainIntro_solution .imgBac{
    position: absolute;
    left:70px;
    bottom:37px;
    background: url("../images/oneWebsite.png") no-repeat 0 0;
    width:910px;
    height:432px;
    opacity:1;
    z-index: 0;
}
#mainIntro .mainIntro_solution .imgBac.anim{
    animation:solutionImg 1s ease;
    -webkit-animation:solutionImg 1s ease;
    -moz-animation:solutionImg 1s ease;
    -o-animation:solutionImg 1s ease;
}
#mainIntro .mainIntro_solution .writeFont{
    margin-top:90px;
    margin-right:83px;
    font-size:24px;
    color:#7c7c7c;
    position: relative;
    z-index: 2;
}
#mainIntro .mainIntro_solution .writeFont.anim{
    animation:solutionFont 1s ease;
    -webkit-animation:solutionFont 1s ease;
    -moz-animation:solutionFont 1s ease;
    -o-animation:solutionFont 1s ease;
}
#mainIntro .mainIntro_solution h3{
    font-size:35px;
    color:#303030;
    margin-bottom:60px;
    text-align: right;
    margin-right: 18px;
}
/*videoContain*/
#videoContain{
    height: 508px;
    display: block;
    background: url("../images/about_bac.png") repeat-y center 0;
    background-size:cover;
}
#videoContain h3{
    text-indent: -9999em;
    background: url("../images/icon.png") no-repeat 333px -402px;
    line-height: 32px;
    margin-bottom:24px;
    padding-top:30px;
}
#videoContain .videoArea{
    margin: 0px auto;
    width:717px;
    height:400px;
}

/*foot*/
#foot{
    background: #2a333c;
    color:#fff;
    font-size:14px;
    padding-top:50px;
    height:270px;
}
#foot ul{
    display: block;
    width:100%;
    text-align: left;
}
#foot ul li{
    float:left;
    padding:0 63px;
}
#foot ul h3{
    font-size: 24px;
    margin-bottom:25px;
}
#foot ul .intro{
    line-height:25px;
    font-size: 14px;
}
#foot .weibo,#foot .wechat,#foot .msg{
    display: table-cell;
    vertical-align: top;
}
#foot .weibo,#foot .wechat{
    padding-right: 20px;
}
#foot .weibo p,#foot .wechat p{
    padding-top:15px;
    text-align: center;
}
#foot .contentUs h3{
    padding-left: 65px;
}
#foot .foot_attestation{
    text-align: center;
    font-size:14px;
    line-height: 30px;
    color: #fff;
    background: #000;
    margin-top: 45px;
}
