*{
    margin:0;
    padding:0;
    font-size: 100%;
    font-family: "Microsoft Yahei", "宋体", Arial, Verdana;
}
body{
    background:#fff;
    width:100%;
    color:#7c7c7c;
}
a{
    text-decoration: none;
    color:#fff;
}
ul,ul li{
    list-style-type: none;
    padding:0;
}
h1,h2,h3,h4{
    font-weight: 400;
}
h1{
    width: 100%;
    height: 0;
    overflow: hidden;
    text-indent: -9899em;

}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}
.clear{
    clear: both;
}
.clear:after{
    display: block;
    content: normal;
    width:100%;
    clear:both;
    overflow:hidden;
}
.head{
    background: #000;
    width:100%;
    height:65px;
    border:1px solid #4c5254;
    font-size:16px;
}
.container{
    width:1200px;
    margin:0 auto;
}
.logo{
    width:232px;
    margin-top:12px;
    margin-right: 65px;
    background:url("../images/icon.png") no-repeat 0 -620px;
}
.logo a{
    display:block;
    overflow:hidden;
    text-indent: -9999em;
    width:232px;
    height:41px;
}
.nav{
    line-height: 62px;
    display: block;
    width:565px;
}
#navBar li{
    float:left;
    position: relative;
}
#navBar li.cur{
    display: block;
    line-height:62px;
    border-bottom:3px solid #3d97ec;
}
#navBar li a{
    padding:0 15px;
}
#navBar li .navBar_second{
    display: none;
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 66px;
    left:0;
    padding:15px 0 15px 25px;
    z-index: 2;
}
#navBar li:hover{
    line-height:62px;
    border-bottom:3px solid #3d97ec;
}
#navBar li:hover .navBar_second{
    display: block;
}
#navBar li .navBar_Group{
    padding-right: 25px;
    font-size:14px;
    display: table-cell;
}
#navBar li .navBar_Group p{
    line-height: 25px;
}
#navBar li .navBar_Group ul{
    display: block;
}
#navBar li .navBar_Group ul li{
    float: none;
    word-break: keep-all;
    line-height: 42px;
}
#navBar li .navBar_Group ul li a{
    padding:0;
}
#navBar li .navBar_Group.bor{
    padding-left:25px;
    border-left:1px solid #2e3032;
}
#navBar li:hover .navBar_Group p{
    color:#888;
    font-size: 12px;
}
.user{
    font-size: 14px;
    color:#fff;
}
.user .manager a,.user .manager i{
    display: table-cell;
    line-height: 65px;
}
.user .manager i{
    padding-right: 6px;
    width:20px;
    height:16px;
    background: url("../images/icon.png") no-repeat -189px 25px;
}
.user .userLogin i{
    padding:0 9px;
    font-style: normal;
    font-size: 16px;
}
.user .userName{
    margin-right: 5px;
    line-height: 65px;
}
.user .userName:hover{
    background: #3d97ec;

}